//color h1
//color p
$color-titulo:#f76c5e;
$color-parrafo:#324376;
$fondo-header:#f76c5e;
$fondo-footer:#324376;
$fondo-productos:#f68e5f;
$fondo-mobile:#F76C5E;
$fondo-galeria:#586BA4;

$hover:#324376;
$visited:#324376;
$actual:#F5DD90;
$button:#586ba4;








