/*estilos*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
}

html {
  font-size: 62, 5%;
}

header {
  background-color: #f76c5e;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul.desktop {
  display: none;
}
header img.colorcito {
  background-color: transparent;
  border: none;
}
header img.colorcito:hover {
  background-color: #324376;
}
header img.colorcito:visited {
  background-color: #324376;
}

nav#navegacion ul.mobile {
  background-color: #f76c5e;
  color: white;
  width: 90%;
}

nav ul li {
  list-style: none;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}
nav ul.mobile li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: white;
}
nav ul.desktop li a.actual {
  color: #F5DD90;
}

section#bienvenida {
  width: 100%;
  background-color: #F5DD90;
  padding: 5%;
}
section#bienvenida p {
  font-size: 1.2rem;
  color: #324376;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
}

.bounce-in-left {
  animation: bounce-in-left 1.1s both;
}

@keyframes bounce-in-left {
  0% {
    transform: translateX(-600px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateX(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateX(-68px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateX(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateX(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
}
section.banner {
  text-align: center;
  padding-top: 180px;
}
section.banner h1 {
  font-size: 3rem;
  color: #f76c5e;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-style: normal;
  color: white;
}

section.landing {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/fondo_01.jpg);
}

section.landing-b {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/fondo-productos.jpg);
}

section.landing-c {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/fondo-galeria.jpg);
}

section.landing-d {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/fondo-faq.jpg);
}

section.landing-e {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-image: url(../assets/fondo-contacto.jpg);
}

.titulo {
  font-size: 2rem;
  color: #f76c5e;
  margin: 20px;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-style: normal;
}

section#productos {
  background-color: #f68e5f;
  text-align: center;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

div.box {
  margin: 20px;
}
div.box img {
  width: 300px;
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.3);
}
div.box h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  margin: 10px;
}
div.box p {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: white;
  margin: 10px;
}

.el_button {
  background-color: #586ba4;
  color: white;
  border: none;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  transition: all 0.2s ease;
}

.el_button:hover {
  color: white;
  transform: translateX(-3px) translateY(-3px);
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.3);
}

div.texts_left {
  margin-bottom: 20px;
}

section#quien {
  width: 100%;
  background-color: #f5dd90;
  padding: 2%;
}
section#quien p {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #324376;
  margin-bottom: 20px;
}
section#quien a {
  display: block;
  width: 250px;
  height: 50px;
  background-color: #586ba4;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  padding-top: 15px;
  border-radius: 50px;
}
section#quien a:hover {
  transform: translateX(-3px) translateY(-3px);
  box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.3);
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  background: #324376;
  text-align: center;
}
footer .logo:hover {
  transform: translateX(-3px) translateY(-3px);
}
footer div.rrss img {
  margin: 10px;
  transition: all 0.2s ease;
}
footer div.rrss img:hover {
  color: red;
  transform: translateX(-3px) translateY(-3px);
}

h1.titulo_principal {
  text-align: center;
  padding: 2%;
  color: #f76c5e;
  font-size: 3rem;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-style: normal;
}

.titulo_fondo_blanco {
  text-align: center;
  padding: 2%;
  font-size: 2rem;
  color: #f76c5e;
  font-family: "DM Serif Text";
  font-weight: 400;
  font-style: normal;
}

section#destacado {
  background-color: #f76c5e;
  padding: 5%;
  text-align: center;
}
section#destacado img {
  width: 100%;
  padding: 2.5%;
}

div.box_destacada {
  display: flex;
  flex-direction: column;
  align-content: center;
}

div.box_destacada h3 {
  color: white;
  font-size: 1.4rem;
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
}
div.box_destacada p.precio_destacado {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.2rem;
}
div.box_destacada p.texto_destacado {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/*estilos galeria*/
section#galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 2%;
  background-color: #586BA4;
}
section#galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#galeria .img-a, section#galeria .img-f {
  grid-column: 1/3;
}

/*estilos faq*/
section#faq {
  padding: 2%;
}
section#faq h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  color: #324376;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
section#faq ul li {
  list-style: none;
}
section#faq ul a {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  color: #586ba4;
  text-decoration: none;
}

/*estilo contacto*/
section#contact {
  background-color: #324376;
  padding: 2%;
}
section#contact h3 {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}
section#contact p {
  font-family: "Poppins";
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (min-width: 576px) {
  header {
    display: flex;
    flex-direction: column;
    align-content: center;
    column-gap: 5%;
  }
  header nav#navegacion {
    width: 90%;
  }
  header nav#navegacion ul.mobile {
    display: none;
  }
  header nav#navegacion ul.desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  header nav#navegacion ul.desktop li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
  }
  header nav#navegacion ul.desktop li a:hover {
    color: #324376;
  }
  header nav#navegacion img.colorcito {
    display: none;
  }
  section#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 250px 150px;
    gap: 5px;
    padding: 5%;
  }
  section#galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section#galeria .img-c {
    grid-column: 1/2;
  }
  section#galeria .img-d {
    grid-column: 2/4;
  }
  section#galeria .img-f {
    grid-column: 2/4;
  }
  section.banner {
    text-indent: -200%;
  }
  section.banner h1 {
    font-size: 3rem;
    color: #f76c5e;
    font-family: "DM Serif Text";
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  section.banner:hover {
    text-indent: 0;
  }
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  section#productos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  header#horizon {
    padding: 2%;
    flex-direction: row;
  }
  header#horizon nav#navegacion {
    width: 60%;
  }
  header#horizon nav#navegacion ul.desktop li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
  }
  header#horizon nav#navegacion ul.desktop li a:hover {
    color: #324376;
  }
  header#horizon nav#navegacion img.colorcito {
    display: none;
  }
  section#quien {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  section#destacado {
    background-color: #f76c5e;
    padding: 1.5%;
  }
  section#destacado div.box_destacada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  section#destacado div.box_destacada h3 {
    font-size: 1.4rem;
    text-align: left;
    margin-top: 30px;
  }
  section#destacado div.box_destacada p.precio_destacado {
    font-size: 1rem;
    text-align: left;
  }
  section#destacado div.box_destacada p.texto_destacado {
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  }
  section#destacado div.txt-dst {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  section#galeria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 250px 150px;
    gap: 15px;
    padding: 5%;
  }
  section#galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section#galeria .img-c {
    grid-column: 4/5;
  }
  section#galeria .img-f {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  section#contact {
    display: grid;
    grid-template-columns: 1fr;
  }
  section#contact div.datos {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
