* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62,5%;
}

header {
    background-color: #f76c5e;
    padding: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav ul.desktop {
        display: none;
}
header img.colorcito {
    background-color: transparent;
    border: none;
}
header img.colorcito:hover {
    background-color:#324376
}
header img.colorcito:visited {
    background-color:#324376;
}

nav#navegacion ul.mobile {
    background-color:#F76C5E;
    color: white;
    width: 90%;
}
nav ul li {
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul.mobile li a {
    text-decoration: none;
    font-size:1.1rem ;
    color: white;
}
.actual {
    color:#F5DD90;
}

section#bienvenida {
    width: 100%;
    background-color:#f5dd90;
    padding: 5%;
}
section#bienvenida h1{
    font-size: 3rem;
    color:#f76c5e ;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
section#bienvenida p{
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #324376;
  
}
   section.landing {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo_01.jpg);
    background-size: cover;
    background-position: center center;
   }
    section.landing-b {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo-productos.jpg);
    background-size: cover;
    background-position: center center;
   }
    section.landing-c {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo-galeria.jpg);
    background-size: cover;
    background-position: center center;
   }
    section.landing-d {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo-faq.jpg);
    background-size: cover;
    background-position: center center;
   }
    section.landing-e {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo-contacto.jpg);
    background-size: cover;
    background-position: center center;
   }

.titulo {
    font-size: 2rem;
    color:#f76c5e ;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;

}

section#productos {
    background-color:#f68e5f;
    padding: 5%;
    text-align: center;
    width: 100%;
}
div.box {
    padding: 2%;
    margin: 20px;
}
div.box img  {
    box-shadow:5px 5px 10px rgba(255,0,0,0.3);
}
div.box h3 {
    color: white;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
}

div.box p {
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 10px;
}
.el_button {
    background-color: #586ba4;
    color: white;
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    box-shadow:5px 5px 10px rgba(255,0,0,0.3);
    display: inline-block;
}
.el_button:hover {
    background-color:#324376;
    color: white;
}


section#quien {
    background-color: #F5DD90;
    padding: 2%;
 
}
div.texts_left {
    margin-bottom: 20px;
}
section#quien p {
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #324376;
    margin-bottom: 20px;
}

footer {
    background-color: #324376;
    text-align: center;
    padding: 2%;
}
footer div.rrss img{
    margin: 10px;
}

/*estilo productos*/

h1.titulo_principal {
    font-size: 3rem;
    color:#f76c5e ;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 2%;
}
.titulo_fondo_blanco {
    color:#F76C5E ;
    font-size: 2rem;
    color:#f76c5e ;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 2%;
}

section#destacado {
    background-color: #F76C5E;
    padding: 5%;
    text-align: center;
}
section#destacado img {
    width: 100%;
    padding: 2.5%;

}
div.box_destacada {
    display: flex;
    flex-direction: column;
    align-content: center;
}
div.box_destacada h3 {
    color: white;
    font-size:1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}
div.box_destacada p.precio_destacado {
    color: white;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
 
}
div.box_destacada p.texto_destacado {
    color: white;
    font-size:1.1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 20px;
  
}

/*estilos galeria*/

section#galeria {
    background-color: #586BA4;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
section#galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-a, .img-f {
    grid-column: 1/3;
}

/*estilos faq*/

section#faq {
    padding: 2%;
}

section#faq h3 {
    color:#324376;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 10px;
}
section#faq ul li {
    list-style: none;
}

section#faq ul li a {
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #586BA4;
    text-decoration: none;
}



/*estilo contact*/

section#contact {
    background: #324376;
    padding: 2%;
}

section#contact h3 {
    color:white;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
section#contact p {
    color:white;
    font-size:1.2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


@media screen and (min-width:576px) {
   header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
   }

   section.landing {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo_01.jpg);
    background-size: cover;
    background-position: center center;
   }
    section.landing-b {
    width: 100%;
    height: 400px;
    background-image: url(../assets/fondo-productos.jpg);
    background-size: cover;
    background-position: center center;
   }
    header img.colorcito {
    display: none;
   }
   header nav ul.mobile li a {
    display: none;
   }
    header nav ul.desktop {
    display: flex;
    justify-content: space-around;
    }

    header nav ul.desktop li a {
    text-decoration: none;
    font-size:1.1rem ;
    color: white;
}

   header nav {
        width: 50%;
   }
   img#acordeon {
    display: none;
   }

   header nav ul {
    display: flex;
    justify-content: space-around;
    
   }
   section#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

   }
   section#quien {
    display: flex;
    justify-content: space-between;
}
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
/*estilo productos */

    section#destacado {
    background-color: #F76C5E;
    padding: 1.5%;

}
    div.box_destacada {
        display:grid;
        grid-template-columns: 1fr 1fr;

}
    div.box_destacada h3 {
    color: white;
    font-size:1.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;

}
div.box_destacada p.precio_destacado {
    color: white;
    font-size:1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;

 
}
div.box_destacada p.texto_destacado {
    color: white;
     font-size:0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
  
}

div.txt-dst {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
}
/*estilos galeria*/

section#galeria {
    background-color: #586BA4;
    padding: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 250px 150px;
    gap: 10px;
}
section#galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-a {
    grid-column: 1/2;
}
.img-d {
    grid-column: 1/4;
}
.img-f {
    grid-column: 2/4;
}
/*estilos contact*/

section#contact {
    display: grid;
    grid-template-columns: 1fr;
}
div.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

